@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,800&subset=cyrillic');

@font-face {
	font-family: 'Supermolot';
	src: url('../fonts/Supermolot.ttf');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FFFD;
}

@font-face {
	font-family: 'Supermolot Bold';
	src: url('../fonts/Supermolot Bold.ttf');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FFFD;
}

@font-face {
	font-family: 'MyriadPro Bold';
	src: url('../fonts/MyriadPro Bold.otf');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FFFD;
}
